<h4 class="error">{{message}}</h4>
<div class="form-group">
    <form #productForm="ngForm" (ngSubmit)="createProduct(productForm)" >
                 <div>
                  <input type="text"
                      placeholder="產品名稱"
                      name="productName"
                      required
                      #productName="ngModel"
                      [(ngModel)]="product.name">
                    <div class="error" *ngIf="productName.dirty && productName.invalid">
                        產品名稱不可空白
                    </div>
                </div>
                <div>
                    <input type="text"
                        placeholder="產品編號"
                        name="productCode"
                        required
                        #productCode="ngModel"
                      [(ngModel)]="product.code">
                    <div class="error" *ngIf="productCode.dirty && productCode.invalid">
                            產品編號不可空白
                    </div>
                </div>
                <div>
                    <input type="number"
                        placeholder="售價"
                        name="productPrice"
                        required
                        min="1"
                        #productPrice="ngModel"
                      [(ngModel)]="product.price"
                        >
                        <div class="error" *ngIf="productPrice.dirty && productPrice.invalid">
                            <div *ngIf="productPrice?.errors.required">
                                售價不可空白
                            </div>
                            <div *ngIf="productPrice?.errors.min">
                                售價須至少為1
                            </div>
                          </div>

                </div>
             <div>
              <button type="submit">建立產品</button>
          </div>
    </form>
</div>
<h4>Product name is {{product | json}}</h4>
